<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Chela+One|Yanone+Kaffeesatz|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body class="container">
            <h1>laundry list</h1>
            <h2>Add to closet:</h2>
            <form id="add_item" class="form-horizontal" method="POST" action="/closet">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.category.label(for="category", class="col-sm-2 control-label") }}
                    <div class="col-sm-5">
                      {{ form.category(id='category', class="form-control", size=1) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.item.label(for="item", class="col-sm-2 control-label")}} 
                    <div class="col-sm-5">
                        {{ form.item(id="item", class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.color.label(for="color", class="col-sm-2 control-label") }}
                    <div class="col-sm-5">
                        {{ form.color(id="color", class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.brand.label(for="brand", class="col-sm-2 control-label") }}
                    <div class="col-sm-5">
                        {{ form.brand(id="brand", class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <!--div class="input-group"-->
                         {{ form.price.label(for="price", class="col-sm-2 control-label") }}
                         <div class="col-sm-5">
                            <!--div class="input-group-addon">$</div-->
                            {{ form.price(id="price", class="form-control") }}
                        </div>
                    <!--/div-->
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            <a href='/closet/view' class="btn btn-default">View Closet</a>
            <a href='/' class="btn btn-default">Home</a>
    </body>
    <foot>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="../static/ll.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </foot>
</html>


