<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Chela+One|Yanone+Kaffeesatz|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>laundry list</h1>
        <h2>Today, I wore </h2>
        <form id="form" method="POST" action=".">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.category.label(for="category", class="col-sm-2 control-label") }}
                <div class="col-sm-5">
                    {{ form.category(id="category", class="form-control") }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Select</button>
        </form> </br>
        <!--form method="GET" action="/closet">
            <input type="submit" value="Go to closet">
        </form-->
        <a href='/closet' class="btn btn-default">Go to closet</a>
    </body>
    <foot>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.5/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </foot>
</html>